<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="static/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="static/vendor/css/bootstrap-grid.css">
    <link rel="stylesheet" href="static/vendor/css/bootstrap-reboot.css">
    <script src="static/vendor/js/jquery-3.3.1.slim.min.js"></script>
    <!--version 1.14.6.-->
    <script src="static/vendor/js/popper.min.js"></script>
    <script src="static/vendor/js/bootstrap.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1> Hello <%= htmlWebpackPlugin.options.title %> </h1>
</div>

</body>
</html>